header {
    position: relative;
    margin: 2rem auto 2.5rem;
    padding-left: 6.5%;
    padding-right: 6.5%;

}

.brand {
    width: 50%;
    & img {
        max-width: 100%;
    }    
}

.toggle {
    position: absolute;
    top: 50%;
    right: 6.5%;
    transform: translateY(-50%);
}

.hamburger-open {
    /* display: block; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
}

.hamburger-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
}

.mobile-nav-open {
    opacity: 1;
}