@use '../01-abstracts/variables';

.hero {
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px; 
    margin-bottom: 7.5rem;
    padding-top: 2.25rem;     
    
    &-lg {
        height: 31.25rem;
    }&-sm {
        height: 25rem;
    }&-home {
        background-image: url(/starter-code/assets/home/mobile/image-hero-coffeepress.jpg);
    }&-about {
        background-image: url(/starter-code/assets/about/mobile/image-hero-whitecup.jpg);
    }& .container {
/*         height: 60%; */
        display: flex;
        flex-direction: column;
/*         justify-content: space-between; */
    }
    & h1 {
        color: variables.$light-cream;
        margin-bottom: 1.5rem;
    }
    & p {
        color: variables.$light-cream;
        font-size: 0.9375rem;
        opacity: 0.8;
        margin-bottom: 2.5rem;
    }    
}
