$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0% ,50%);
$dark-cyan: hsl(179, 81%, 29%);
$light-cyan: hsl(179, 55, 61); 
$dark-grey-blue: hsl(215, 19%, 25%);
$pale-orange: hsl(25, 94%, 86%);
$light-cream: hsl(43, 78%, 98%);
$cream: hsl(40, 29%, 94%);
$grey: hsl(215, 5%, 54%);
$dark-grey: hsl(216, 17%, 21%);