@use '../01-abstracts/variables';

.hero {
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px; 
    margin-bottom: 7.5rem;
    padding-top: 2.25rem; 
    border: 5px soild red;    
    
    &-lg {
        height: 31.25rem;
    }&-sm {
        height: 25rem;
    }&-home {
        background-image: url(/assets/home/mobile/image-hero-coffeepress.jpg);
    }&-about {
        background-image: url(/assets/about/mobile/image-hero-whitecup.jpg);
    }& .container {
        display: flex;
        flex-direction: column;
    }&-plan {
        background-image: url(/assets/plan/mobile/image-hero-blackcup.jpg);
    } 
    & h1 {
        color: variables.$light-cream;
        margin-bottom: 1.5rem;
        font-size: clamp(2rem, 9vw, 3.5rem);
    }
    &-about h1 {
        font-size: clamp(2rem, 6vw, 2.5rem);  
    }
    & p {
        color: variables.$light-cream;
        font-size: 0.9375rem;
        opacity: 0.8;
        margin-bottom: 2.5rem;
    }    
}

/* @media only screen and (min-width: 420px) and (max-width: 768px) {
    .hero {
        text-align: left;    
        align-items: center;
        padding-top: 0;
        & .container {
            
            margin-left: 3rem;
        }& .btn {
            margin-left: 0;
        }& .heading-lg {
            font-size: 3rem;
        }&-home {
            background-image: url(/assets/home/tablet/image-hero-coffeepress.jpg);
        }&-about {
            background-image: url(/assets/about/tablet/image-hero-whitecup.jpg);
            & .heading-md {
                font-size: 2rem;
            }
        }&-plan {
            background-image: url(/assets/plan/tablet/image-hero-blackcup.jpg);
            & .container {
                padding-right: 1rem;
            }
        }
    }
} */

@media (min-width: 560px) {
    .hero {
        text-align: left;    
        align-items: center;
        padding-top: 0;
    }
    .hero .container {
        width: max(22rem, 71%) ;
        margin-left: 3rem;
    }
    .hero-home {
        background-image: url(/assets/home/tablet/image-hero-coffeepress.jpg);
    }
    .hero-plan {
        background-image: url(/assets/plan/tablet/image-hero-blackcup.jpg);
    }
    .hero p {
        width: min(90%, 45ch);
    }
    .hero .btn {
        margin-left: 0;
    }
    .hero h1 {
        line-height: 1;
    }
}

@media (min-width: 800px) {
    .hero .container {
        max-width: 500px;
    }
}

@media (min-width: 960px) {
    .hero-home h1 {
        font-size: clamp(3.5rem, 6vw, 4.5rem);
        margin-bottom: 1.8rem;
    }
}

@media (min-width: 1280px) {
    .hero-home { 
        background-image: url(/assets/home/desktop/image-hero-coffeepress.jpg);    
    }
    .hero-plan {
        background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg)
    }
}

/* @media only screen and (min-width: 900px) {
    .hero-home {
        background-image: url(/assets/home/desktop/image-hero-coffeepress.jpg);
        margin-bottom: 10rem;
        & .btn {
            margin-left: 0;
        }
    }

    .hero .heading-lg {
        font-size: max(5vw, 2.8rem);
        line-height: max(3rem, 5vw);
    }

    .hero-about {
        background-image: url(/assets/about/desktop/image-hero-whitecup.jpg);
        margin-bottom: 9.5rem;
    }
    .hero-plan {
        background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg);
    }
    .hero .container {
        text-align: left;
        width: 40%;
        margin-left: 4rem;
    }
}

    


@media only screen and (min-width: 1400px) {
    .hero p {
        width: 80%;
    }
    .hero-about h1 {
        font-size: 2.5rem;
    }
} */