@use '../01-abstracts/variables';

.footer {
    height: 21.9rem;
    margin: 7.5rem 6.6% 4.5rem;
/*     margin-left: 6.6%;
    margin-right: 6.6%; */
    padding-top: 3.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$dark-grey;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 0;
    & li {
        list-style: none;
        &:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }
    }& a {
        text-transform: uppercase;
        text-decoration: none;
        color: variables.$grey;
        font-size: 0.75rem;
        letter-spacing: 0.92px;
    }
}

.typeface {
    fill: variables.$light-cream;
}

.social-media-links {
    margin-top: 3rem;
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
    .footer-nav ul {
        flex-direction: row;
        justify-content: space-evenly;

        & li {
            margin-bottom: unset!important;
        }
    }
    .footer-nav {
        width: 60%;
        text-align: center;
    }
    .social-media-links {
        margin-top: 5rem;
    }
    .footer {
        height: 18.9rem;
    }
}