@use '../01-abstracts/variables';

.heading-sm,
.heading-md,
.heading-lg, 
.heading-xlg {
    font-family: 'Fraunces', serif;
}

body {
    font-family: 'Barlow', sans-serif;
}

.heading-xlg {
    font-size: 2.5rem;
    line-height: 1;
}

.heading-lg {
    font-size: 2.5rem;
    line-height: 3rem;
}

.heading-md {
   font-size:  1.75rem;
   line-height: 2.25rem; 
}

.heading-sm {
    font-size: 1.5rem;
    line-height: 2;
}

p {
    line-height: 1.66;
}

body {
    background-color: variables.$light-cream;
}

.preventScroll {
    overflow-y: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

main {
    max-width: 90rem;
}